
@import "compass/css3";

.frame-square {
  background: #fff;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 130px;
  height: 130px;
  margin-right: .5em;
  margin-bottom: .3em;
}

.frame-round {
  @extend .frame-square;
  border-radius: 50%;
  overflow: hidden;

  .crop {border-radius: 50%;}
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }
}


.row2 {
    margin: 20px;
    margin-top:30px;
}

.profile_pic_div {
    margin: 0 auto;
    width: 100%;
}

.profile_pic {
    margin:0 auto;
    display: block;
    max-width: 325px;
}

.about {
    text-align: center;
}

.stats {

}


.name_and_spot {
    text-align: center;
}


.data {
    text-align: center;
}

.bottom {

}
