<style>
a:hover {
    color: lightgray;
}
</style>

<footer class="nav-color text-center colCenter img-responsive pt-5 mt-5">
    <div class="container">
        <div class="mid-div">
            <a href="mailto:brittonkdeets@gmail.com?Subject=Website" target="_top" class="text-white">surflogs@gmail.com</a>
        </div>
        <div class="mid-div">
            <a href="tel:1-910-632-4594" class="text-white">(555)-555-5555</a>
        </div>
    </div>
    <div class="container mt-5 pb-5" style="text-align: center;">
        <span class="text-white">&copy Surf Logs 2019</span>
    </div>
</footer>
