{% load static %}

{% include "logs/navigation.html" %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Surf Logs</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'logs/surfLogs.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'logs/profile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'logs/surfLogs.js' %}" type="text/css">
    <script src="{% static 'logs/profile.js' %}"></script>
</head>

<body>
            <div class="bodywrap card">
                <section class="top card-body">
                    <div id="row1" class="row">
                        <div class="bio col-md-4">
                            <div class="profile_pic_div">
                                <img src="{{ user.profile.photo.url }}" class="img-fluid rounded-circle profile_pic" alt="Bio Photo">
                            </div>
                            <br>
                            <div class="about">
                                <p> {{ user.profile.bio }} </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="name_and_spot">
                                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                                <h5>{{ user.profile.homespot }}</h5>
                            </div>
                            <br>
                            <div class="row row2" id="row2">
                                <div class="data col-md-12">
                                    <div class="row mb-4">
                                        <div class="col-md-4">
                                            <p> Sessions </p>
                                            <h5>{{numSessions}}</h5>
                                        </div>
                                        <div class="col-md-4">
                                            <p> Wave Count </p>
                                            <h5> {{waveCount}} </h5>
                                        </div>
                                        <div class="col-md-4">
                                            <p> Time Surfed </p>
                                            <h5> {{timeSurfed}} {{unitsSurfed}} </h5>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-4">
                                            <p> Average Rating </p>
                                            <h5> {{averageRating}} </h5>
                                        </div>
                                        <div class="col-md-4">
                                            <p> Average Length</p>
                                            <h5> {{avgSessionLength}} </h5>
                                        </div>
                                        <div class="col-md-4">
                                            <p> Average Waves </p>
                                            <h5> {{averageWaveHeight}} </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p> Last Spot </p>
                                            <h5> {{lastSpot}} </h5>
                                        </div>
                                        <div class="col-md-4">
                                            <p> Average Start </p>
                                            <h5> {{avgStartTime}} </h5>
                                        </div>
                                        <div class="col-md-4">
                                            <p> Average End </p>
                                            <h5> {{avgEndTime}} </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <br>
                <div class="row">
                    <div class="col-md-9">
                        <h3 id="lower_header"> Sessions <h3>
                    </div>
                    <div class="col-sm-1 mr-1">
                        <button class="btn" id="session_filter" onclick="filter_click('session')">Sessions</button>
                    </div>
                    <div class="col-sm-1 ml-1">
                        <button class="btn" id="report_filter" onclick="filter_click('report')">Reports</button>
                    </div>
                </div>
                <hr>
                <div id="session_table" class="m-5">
                    {% include "logs/session_list.html" %}
                </div>
                <div id="report_table" class="m-5" style="display:none">
                    {% include "logs/report_list.html" %}
                </div>
            </div>

    {% include "logs/footer.html" %}

</body>
