{% load static %}

{% block content %}
<table class="table table-borderless table-hover">
  <thead>
    <tr>
        {% for header in report_headers%}
        <th scope="col">{{ header }}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for report in reports %}
    <tr class='clickable-row' data-href="{% url 'logs:report' report.report_id %}">
      <th scope="row"><a href="{% url 'logs:user_summary' report.user.username %}">{{ report.user.username }}</a></th>
      <td>{{ report.date.date }}</td>
      <td><a href="{% url 'logs:spot_view' report.spot.name %}">{{ report.spot.name }}</a></td>
      <td>{{ report.time }}</td>
      <td>{{ report.wave_quality }}</td>
      <td>{{ report.rating }}</td>
      {% if is_users %}
        <td><span class="oi oi-circle-x" onclick="confirmDelete({{report.report_id}})"></span></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
        var in_confirm = false;
        jQuery(document).ready(function($) {
            if(!in_confirm) {
                $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
            } else {
                in_confirm = false;
            }
        });

        function confirmDelete(id) {
            in_confirm = true;
            var is_delete = confirm("Delete this report?");
            if (is_delete == true) {
                window.open("/"+id.toString()+"/delete_report");
                location.reload();
            } else {
                location.href="/profile";
            }
        }
</script>
{% endblock %}
