{% extends 'base.html' %}

{% load static %}


{% block content %}
<script>
    $('.carousel').carousel()
</script>
{% if is_users %}
<div class="side-scroll container shadow rounded">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'logs:edit_report' report.report_id %}" class="btn w-100" target="_blank">Edit</a>
        </div>
        <div class="col-md-12">
            <a href="{% url 'logs:add_photos' report.report_id False %}" class="btn w-100" target="_blank">Add Photos</a>
        </div>
        <div class="col-md-12">
            <button class="btn w-100" id="report_filter">Make Private</button>
        </div>
        <div class="col-md-12">
            <button class="btn w-100" onclick="confirmDelete()">Delete</button>
        </div>
    </div>
</div>
{% endif %}
<div class="row">

    <div class="col-md-12 text-center">
        <h2> {{report.spot.name}} </h2>
        <h5> {{report.date.date}} </h5>
        <h6> {{report.time}}</h6>
        <br>
        <h3>{{ report.wave_quality }}</h3>
        <br>
        <a href="{% url 'logs:user_summary' report.user.username %}" <h5> {{report.user.username}} </h5></a>
        <br>
        <br>
        <p> {{report.notes}}</p>
    </div>
</div>
<div class="bottom">
    <br>
    <div class="row text-center" id="row2">
        <div class="data col-md-12">
            <div class="row mb-4">
                <div class="col-md-4">
                    <p> Wave Height </p>
                    <h5> {{ report.wave_data.wave_height }} </h5>
                </div>
                <div class="col-md-4">
                    <p> Wave Period</p>
                    <h5> {{ report.wave_data.wave_period }} </h5>
                </div>
                <div class="col-md-4">
                    <p> Conditions </p>
                    <h5> {{ report.wave_data.conditions }} </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery mt-5" id="gallery">
  {% for photo in photos %}
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid img-respondive" src="{{ photo.image.url }}" alt="Card image cap">
  </div>
  {% endfor %}
</div>



<script>
    $('.carousel').carousel();

    function confirmDelete() {
        var is_delete = confirm("Delete this report?");
        if (is_delete == true) {
            var id = {{ report.report_id }};
            location.href="/"+id.toString()+"/delete_report";
        }
    }
</script>
{% endblock %}
