
<div class="Outer">
    <div class="logoWrap">
        <img class="slLogo" src="https://i.imgur.com/NRoi8Mg.png">
    </div>
    <div class="Inner">
        <p class="info text-center">Sign In</p>
        <br>
        <form method="post">
            {% csrf_token %}
            {% for field in signin_form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                {% endif %}
                {% for error in field.errors %}
                {% endfor %}
            </p>
            {% endfor %}
            <div class="center">
                <button type="submit" class="btn nav-color">Get Loggin'</button>
            </div>
            <p> {{ errors }} </p>
        </form>
    </div>
</div>
