{% extends 'spot_view_template.html' %}
{% load static %}

{% block content %}
<div>
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <p> Sessions Logged</p>
            <h5>{{ numSessions }}</h5>
        </div>
        <div class="col-md-6 text-center">
            <p> People Surfed Here</p>
            <h5>{{ numSurfers }}</h5>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <p> Best Period </p>
            <h5> {{ spot.ideal_swell_period }} </h5>
        </div>
        <div class="col-md-6 text-center">
            <p> Best Size </p>
            <h5> {{ ideal_swell_height }} ft</h5>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <p> Average Session Rating </p>
            <h5>{{averageSessionRating}}</h5>
        </div>
        <div class="col-md-6 text-center">
            <p> Average Wave Height </p>
            <h5> {{averageWaveHeight}} ft</h5>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-8">
        <h3 id="lower_header"> Sessions <h3>
    </div>
    <div class="col-lg-1 mr-3">
        <button class="btn" id="session_filter" onclick="filter_click('session')">Sessions</button>
    </div>
    <div class="col-lg-1 ml-3">
        <button class="btn" id="report_filter" onclick="filter_click('report')">Reports</button>
    </div>

</div>
<hr>

<div id="session_table" class="m-5">
    {% include "logs/session_list.html" %}
</div>
<div id="report_table" class="m-5"style="display:none">
    {% include "logs/report_list.html" %}
</div>

{% endblock %}


<!--Hey guys! Its been an awesome year for the Surf Club and I've had a lot of fun meeting and surfing with everyone. The time has come for us to pass it off for next year. We're planning on having elections this Thursday at 7pm in the Piano Room. If you want to be a part of surfing at UNCW and have an impact on the Surf Club then show up and give your vote or run for a position -->
